.sve {
    display: flex;
}

.left {
    flex: 0 0 600px;
    background-color: rgb(12, 5, 73);
    color: white;
    height: 1080px;
}

.right {
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2px;
}

.margin {
    margin-left: 45px;
    margin-right: 45px;
}